.about-section {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-title {
  @include font(36px, 1.16, 0.03em);
  min-width: 366px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
}

.about-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-thumb {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.about-text {
  @include font(14px, 1.33, 0.03em);
  font-style: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
