.list-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  max-width: 330px;

  @media screen and (min-width: 360px) {
    width: 330px;
  }

  @include tablet {
    min-width: 575px;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 44px;
  }
}

.link-filter:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 10px;

  @media screen and (min-width: 360px) {
    margin-bottom: 0;
  }
}

.link-filter:nth-child(-n + 3) {
  @media screen and (min-width: 360px) {
    margin-bottom: 10px;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

.flex-item:not(:last-child) {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 0;
  }
}

.flex-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: auto;
  }
}

.portfolio-title {
  @include font(18px, 2, 0.06em);
  margin-bottom: 4px;
  color: var(--primary-text-color);

  @include tablet {
    min-width: 304px;
  }
}

.portfolio-text {
  @include font(16px, 1.88, 0.03em);
}

.flex-element {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.flex-element-first {
  @include tablet {
    height: 148px;
  }

  @include desktop {
    height: auto;
  }
}
.works-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  @include font(18px, 1.56, 0.03em);
  color: var(--hero-text-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link {
  display: block;
  color: inherit;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay-description {
    transform: translateY(0%);
  }
}
