.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  @include font(28px, 1.18, 0.03em);
  text-align: center;
  color: var(--primary-text-color);

  @include desktop {
    margin-bottom: 50px;
    @include font(36px, 1.16, 0.03em);
  }
}

.team__name {
  @include font(16px, 1.19, 0.03em);
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
  color: var(--primary-text-color);
}

.team__container {
  padding-top: 30px;
  background-color: var(--background-primary);
  border-radius: 0px 0px 4px 4px;
}

.team__profession {
  @include font(16px, 1.19, 0.03em);
  text-align: center;
  color: var(--secondary-text-color);
}

.team__image {
  width: auto;
}

.team__link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  @include tablet {
    width: calc((100% - 2 * 15px) / 2);
  }

  @include desktop {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;

  @include desktop {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }
}

.social__icon {
  fill: #afb1b8;

  @include desktop {
    display: block;
    fill: currentColor;
  }
}

.social__link {
  display: flex;
  min-width: 44px;
  min-height: 44px;
  justify-content: center;
  align-items: center;

  @include desktop {
    border-radius: 50%;

    background-color: var(--background-primary);
    color: var(--icon-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--hero-text-color);
      background-color: var(--accent-color);
    }
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.team__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.social .social__item {
  @include desktop {
    margin-right: 0;
  }
}
