.button {
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);

  @include font(16px, 1.88, 0.06em);
  font-style: inherit;
  font-weight: 700;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-primary);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-button {
  @include font(16px, 1.88, 0.06em);
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-style: inherit;
  font-weight: 700;
  color: var(--hero-text-color);
  background: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: #f5f4fa;

  @include font(16px, 1.62, 0.03em);
  font-style: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--primary-text-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
