h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  font-family: $primaryFont;
  @include font(14px, 1.14, 0.02em);
  color: var(--secondary-text-color);
  background-color: var(--background-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.container {
  min-width: 290px;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
