.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 450px;
  max-height: 609px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    width: 528px;
    height: 581px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.form-title {
  @include font(20px, 1.5, 0.03em);
  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;

  @include desktop {
    @include font(20px, 1.15, 0.03em);
  }
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.form-label {
  @include font(12px, 1.17, 0.01em);
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);

    & + svg {
      fill: var(--accent-color);
    }
  }
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comments {
  @include font(12px, 1.17, 0.01em);
  resize: none;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  font-family: inherit;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    @include font(14px, 1.14, 0.01em);
    color: rgba(117, 117, 117, 0.5);

    @include desktop {
      @include font(12px, 1.14, 0.01em);
    }
  }

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.accept {
  margin-top: 20px;
  margin-bottom: 30px;

  &-label {
    @include font(12px, 1.17, 0.03em);
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);

    @include desktop {
      @include font(14px, 1.71, 0.03em);
    }
  }

  &-link {
    padding-left: 4px;
    font-style: inherit;
    color: var(--accent-color);
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept input:checked + .accept-label .checkbox {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 0 0 0 16px;
  margin-bottom: 20px;
  color: var(--hero-text-color);
  background-color: var(--background-secondary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  &::placeholder {
    @include font(16px, 1.25, 0.03em);
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) {
  .footer-input {
    display: flex;
    width: 450px;
    margin: 0 auto 20px auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    height: 50px;
    margin: 0 12px 0 0;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  .form-container {
    margin-left: 93px;
  }

  .footer-form {
    display: flex;
  }
}
