:root {
  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --background-primary: #ffffff;
  --background-secondary: #2f303a;
}

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

@mixin font($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
